@import '../variables/vars';
@import '../global-styles/globals';

.header {
  background: rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: inset 0px 0px 70px 50px rgba(0, 0, 15, 56%);
  -moz-box-shadow: inset 0px 0px 70px 50px rgba(0, 0, 15, 56%);
  box-shadow: inset 0px 0px 70px 50px rgba(0, 0, 15, 56%);

  background-image: url('../assets/header-library/library-bg-mobile.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &--library {
    min-width: $breakpointMin;
    position: sticky;
    top: 0;

    &__buttons {
      display: flex;
      justify-content: center;
      gap: 1.25rem;
    }
  }
}

.button {
  &--library {
    padding-top: 0.875rem;
    padding-bottom: 0.75rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 133%;
    color: var(--bg-white);
    background-color: transparent;
    border: 1px solid var(--bg-white);
    border-radius: 0.313rem;
    text-transform: uppercase;
    min-width: 130px;
    max-width: 152px;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:active {
      background-color: var(--text-orange);
      border-color: var(--text-orange);
    }

    &:hover,
    &:focus {
      transform: scale(1.01);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      background-color: var(--text-orange);
      border-color: var(--text-orange);
    }
  }
}

@media screen and (max-width: 767px) {
  .header--library {
    &__buttons {
      gap: 1.25rem;
    }
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .header--library {
      background-image: url('../assets/header-library/library-bg-mobile@2x.png');
      background-size: 100% 14.375rem;
    }
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    .header--library {
      background-image: url('../assets/header-library/library-bg-mobile@3x.png');
      background-size: 100% 14.375rem;
    }
  }
}

@media screen and (min-width: $breakpointTablet) and (max-width: 1199px) {
  .header--library {
    &__buttons {
      gap: 2rem;
    }
  }

  .header--library {
    background-image: url('../assets/header-library/library-bg-tablet.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .header--library {
      background-image: url('../assets/header-library/library-bg-tablet@2x.png');
      background-size: 100% 14.375rem;
    }
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    .header--library {
      background-image: url('../assets/header-library/library-bg-tablet@3x.png');
      background-size: 100% 14.375rem;
    }
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .header--library {
    &__buttons {
      gap: 1rem;
    }
  }

  .header--library {
    background-image: url('../assets/header-library/library-bg-desktop.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .header--library {
      background-image: url('../assets/header-library/library-bg-desktop@2x.png');
      background-size: 100% 14.375rem;
    }
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    .header--library {
      background-image: url('../assets/header-library/library-bg-desktop@3x.png');
      background-size: 100% 14.375rem;
    }
  }
}
