@import '../variables/vars';
@import '../global-styles/globals';

.header {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: $breakpointMin;
  height: 230px;
  background: rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: inset 0px 0px 70px 50px rgba(0, 0, 15, 56%);
  -moz-box-shadow: inset 0px 0px 70px 50px rgba(0, 0, 15, 56%);
  box-shadow: inset 0px 0px 70px 50px rgba(0, 0, 15, 56%);
  color: var(--text-white);

  background-image: url('../assets/header-library/mobile_header_library@1x.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // padding-top: 2.5rem;
  // padding-bottom: 2.75rem;


  &__main {
    margin-bottom: 3.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__name {
      display: none;
      font-size: 1.875rem;
    }
  }

  &__nav {
    display: flex;
    gap: 2.5rem;
    font-size: var(--fs-300);
    text-transform: uppercase;
    font-weight: 500;

    &__active {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 14px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--text-red-warn);
      }
    }
  }

  &--library {
    &__buttons {
      padding-top: 0.75rem;
      display: flex;
      gap: 1.25rem;
      justify-content: center;
    }
  }
}

@media screen and (max-width: $breakpointMobile) {

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .header--library {
      background-image: url('../assets/header-library/mobile_header_library@2x.jpg');
      background-size: 100% 14.375rem;
    }
  }

  @media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
    .header--library {
      background-image: url('../assets/header-library/mobile_header_library@3x.jpg');
      background-size: 100% 14.375rem;
    }
  }
}

@media screen and (min-width: $breakpointTablet) {
  .header {
    &__main {
      margin-bottom: 2.5rem;
    }

    &__title {
      &__name {
        display: block;
      }
    }

    // &__form {
    //   &__error {
    //     margin-top: 1.25rem;
    //   }
    // }

    // &--library {
    //   &__buttons {
    //     padding-top: 0;
    //   }
    // }
    // &--library {
    //   background-image: url('../assets/header-library/desctop_header_library@1x.jpg');
    //   background-size: cover;
    //   padding-bottom: 3.75rem;

    //   &__buttons {
    //     padding-top: 0.75rem;
    //     display: flex;
    //     gap: 1.25rem;
    //     justify-content: center;
    //   }
    // }
  }
}