.container {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--menu {
      @extend .container__nav;
      gap: 2.5rem;
      margin-top: 0.125rem;
    }
  }
  &__header {
    height: 14.375rem;
    display: flex;
    flex-direction: column;
    gap: 3.375rem;
    padding: 2.5rem 1.25rem 5.75rem;
    color: #fff;
    max-width: $breakpointMin;
  }
  &__background {
    background-image: url('../assets/header/abstract-bg-mobile.png');
    background-size: 100% 14.375rem;
    background-repeat: no-repeat;
  }
}

.logo {
  display: none;
  &__icon {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__box {
    &:hover,
    &:focus {
      color: #ff6b08;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      & .logo__icon {
        background-color: #ff6b08;
        border-radius: 5px;
      }
    }
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .container__background {
    background-image: url('../assets/header/abstract-bg-mobile@2x.png');
    background-size: 100% 14.375rem;
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .container__background {
    background-image: url('../assets/header/abstract-bg-mobile@3x.png');
    background-size: 100% 14.375rem;
  }
}

.main-nav {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.875rem;
  &:hover,
  &:focus {
    color: #ff6b08;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__is-active {
    position: relative;
    &::after {
      width: 100%;
      height: 3px;
      content: '';
      display: block;
      background-color: #ff001b;
      position: absolute;
      bottom: -3px;
    }
  }
}

.search {
  &__box {
    width: 100%;
    position: relative;
  }
  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1rem;
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
    &::placeholder {
      color: #fff;
    }
  }
  &__icon {
    position: absolute;
    right: 0;
    top: 0.25rem;
    cursor: pointer;
    background: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: #ff6b08;
      border-radius: 50%;
    }
  }
  &__not-found {
    font-size: 0.875rem;
    line-height: 1rem;
    color: #ff001b;
    visibility: hidden;
  }
}

@media (min-width: $breakpointTablet) {
  .container {
    &__header {
      height: 13.5rem;
      padding-bottom: 5.063rem;
      gap: 2.5rem;
      max-width: $breakpointTablet;
    }
    &__background {
      background-image: url('../assets/header/abstract-bg-tablet.png');
      background-size: 100% 13.5rem;
    }
  }
  .logo {
    display: inline-block;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.188rem;
    &__box {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }
  .search {
    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__input {
      width: 21rem;
      margin-bottom: 1.25rem;
    }
    &__icon {
      right: calc((100% - 21rem) / 2);
    }
  }
}

@media screen and (min-width: $breakpointTablet) and (min-device-pixel-ratio: 2),
  screen and (min-width: $breakpointTablet) and (min-resolution: 192dpi),
  screen and (min-width: $breakpointTablet) and (min-resolution: 2dppx) {
  .container__background {
    background-image: url('../assets/header/abstract-bg-tablet@2x.png');
    background-size: 100% 13.5rem;
  }
}

@media screen and (min-width: $breakpointTablet) and (min-device-pixel-ratio: 3),
  screen and (min-width: $breakpointTablet) and (min-resolution: 288dpi),
  screen and (min-width: $breakpointTablet) and (min-resolution: 3dppx) {
  .container__background {
    background-image: url('../assets/header/abstract-bg-tablet@3x.png');
    background-size: 100% 13.5rem;
  }
}

@media (min-width: $breakpointDesktop) {
  .container {
    &__header {
      max-width: $breakpointDesktop;
    }
    &__background {
      background-image: url('../assets/header/abstract-bg-desktop.png');
      background-size: 100% 13.5rem;
    }
  }
  .logo {
    &__box {
      &:hover,
      &:focus {
        transform: scale(1.02);
      }
    }
  }
  .main-nav {
    font-size: 0.875rem;
    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
  .search {
    &__box {
      &:hover,
      &:focus {
        transform: scale(1.01);
      }
    }
    &__input {
      width: 25rem;
      &::placeholder {
        font-size: 1rem;
      }
    }
    &__icon {
      right: calc((100% - 24.625rem) / 2);
      &:hover {
        transform: rotate(90deg) scale(1.05);
      }
    }
  }
}

@media screen and (min-width: $breakpointDesktop) and (min-device-pixel-ratio: 2),
  screen and (min-width: $breakpointDesktop) and (min-resolution: 192dpi),
  screen and (min-width: $breakpointDesktop) and (min-resolution: 2dppx) {
  .container__background {
    background-image: url('../assets/header/abstract-bg-desktop@2x.png');
    background-size: 100% 13.5rem;
  }
}

@media screen and (min-width: $breakpointDesktop) and (min-device-pixel-ratio: 3),
  screen and (min-width: $breakpointDesktop) and (min-resolution: 288dpi),
  screen and (min-width: $breakpointDesktop) and (min-resolution: 3dppx) {
  .container__background {
    background-image: url('../assets/header/abstract-bg-desktop@3x.png');
    background-size: 100% 13.5rem;
  }
}
