.footer {
  background-color: #f7f7f7;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-footer);
  font-size: 0.875rem;
  line-height: 0.875;

  &__link {
    color: var(--text-footer);
    text-decoration: underline;
  }

  &__icon {
    color: var(--text-red-warn);
  }
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    height: 79px;
    font-size: 1rem;
    line-height: 1.187;

    & > p {
      margin: 0 0 0 3px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 77px;
  }
}
