@import '../variables/vars';
@import '../global-styles/globals';

.backdrop {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.hidden {
  display: none;
}

// ---------------- MOBILE ---------------- //

.modal {
  position: fixed;
  background-color: var(--text-white);
  border-radius: 3px;
  padding-inline: 1.25rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  max-width: 280px;
  max-height: 100vh;
  left: 50%;
  top: 20px;
  overflow-y: scroll;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;

  &__btn {
    &--close {
      position: absolute;
      background-color: var(--text-white);
      top: 0.75rem;
      right: 0.75rem;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      font-size: 1.5rem;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    &--watched {
      border-radius: 5px;
      background: #ff6b01;
      font-family: inherit;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;
      text-align: center;
      text-transform: uppercase;
      color: var(--text-white);
      padding-inline: 0.3rem;
      height: 2.75rem;
      width: 6.875rem;
      cursor: pointer;
      transition-duration: 0.4s;

      &:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }
      &:active {
        transform: translateY(2px);
      }
    }
    &--queued {
      border-radius: 5px;
      background: var(--text-white);
      border: 1px solid var(--text-black);
      font-family: inherit;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;
      text-align: center;
      text-transform: uppercase;
      padding-inline: 0.3rem;
      height: 2.75rem;
      width: 6.875rem;
      cursor: pointer;
      transition-duration: 0.4s;

      &:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }
      &:active {
        transform: translateY(2px);
      }
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    max-width: 240px;
    max-height: 357px;
  }

  &__text {
    display: block;
  }

  &__title {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    text-transform: uppercase;
    margin-block: 1.5rem;
  }

  &__buttons {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    &--classification {
      font-family: inherit;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;
      color: var(--modal-description-grey);
      flex: 1 1 0;
    }

    &--detailed {
      font-family: inherit;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;
      flex: 1 1 0;
    }

    &--score {
      font-family: inherit;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;
      border-radius: 5px;
      background-color: #ff6b01;
      color: var(--text-white);
      padding-inline: 0.5rem;
      padding-block: 1px;
    }
    &--score--second {
      font-family: inherit;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;
      background-color: #f7f7f7;
      border-radius: 5px;
      padding-inline: 0.5rem;
      padding-block: 1px;
    }
  }

  &__article {
    margin-top: 1.3rem;

    &--title {
      font-family: inherit;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    &--description {
      font-family: inherit;
      font-style: norml;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.67;
      margin-bottom: 1.3rem;
    }
  }
}

.trailer-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.trailer-btn {
  background-color: transparent;
  fill: var(--text-black);
  fill-opacity: 0.8;
  stroke: var(--modal-description-grey);
  stroke-opacity: 0.2;
  position: absolute;
  left: 80px;

  &:hover,
  &:focus {
    cursor: pointer;
    fill: var(--text-orange);
    fill-opacity: 0.7;
    stroke: var(--text-black);
    stroke-opacity: 0.4;
  }
}

#trailer-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.player {
  width: 240px;
}

// ---------------- TABLET ---------------- //

@media (min-width: 768px) {
  .modal {
    padding: 2.5rem 4.5rem 2.5rem 2.25rem;
    flex-direction: row;
    max-width: 704px;
    top: 50%;
    left: 50%;
    overflow-y: auto;
    transform: translate(-50%, -50%);

    &__image {
      max-height: 373px;
      max-width: 264px;
      margin-right: 4.25rem;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 1.25rem;
    }

    &__text {
      width: 16.5rem;
    }
    &__btn {
      &--watched {
        padding-inline: 0.5rem;
        width: 7.875rem;
      }
      &--queued {
        padding-inline: 0.5rem;
        width: 7.875rem;
      }
    }
  }
  .trailer-btn {
    left: 85px;
  }
  .player {
    width: 560px;
    height: 315px;
  }
}

// ---------------- DESKTOP ---------------- //

@media (min-width: 1280px) {
  .modal {
    max-width: 806px;
    width: 806px;
    padding: 2.5rem 0.75rem 2.5rem 0.75rem;

    &__image {
      max-width: 375px;
      max-height: 475px;
      margin-right: 2rem;
    }

    &__text {
      width: 391px;
    }

    &__buttons {
      justify-content: space-around;
    }

    &__title {
      font-size: 30px;
      line-height: 1.16;
    }

    &__btn {
      &--watched {
        padding-inline: 0.625rem;
        width: 8.5rem;
      }
      &--queued {
        padding-inline: 0.625rem;
        width: 8.5rem;
      }
    }
  }
  .trailer-btn {
    left: 120px;
  }
}
