.posters {
  margin-block: 1.25rem;
  max-width: 320px;
  margin-inline: auto;
  padding-inline: 1.25rem;
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  &__box {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    flex-basis: calc((100% - 2 * 1rem) / 3);
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: 3px solid #ff6b08;
      border-radius: 5px;
    }
  }
  &__img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 0.625rem;
  }

  &__title {
    text-transform: uppercase;
  }

  &__details {
    color: #ff6b08;
  }

  &__ranking {
    font-size: 0.75rem;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #ff6b08;
    border-radius: 5px;
    width: 2.25rem;
    line-height: 0.875rem;
    height: 1rem;
    margin-left: 0.25rem;
  }
}

@media screen and (min-width: 768px) {
  .posters {
    margin-block: 3.75rem;
    max-width: 768px;
    padding-inline: 2rem;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    &__box {
      max-width: 336px;
      flex-grow: 1;
    }
    &__img {
      max-height: 455px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .posters {
    max-width: 1280px;
    gap: 1rem;
    &__box {
      font-size: 1.25rem;
      line-height: 1.5rem;
      max-width: 395px;
    }
    &__img {
      max-height: 575px;
      margin-bottom: 0.75rem;
    }
  }
}
