<div id="posters" class="posters">
  <figure class="posters__box">
    <img
      src="https://image.tmdb.org/t/p/w500/r2J02Z2OpNTctfOSN1Ydgii51I3.jpg"
      alt="placeholder"
      class="posters__img"
    />
    <figcaption>
      <p class="posters__title">GUARDIANS OF THE GALAXY VOL. 3</p>
      <p class="posters__details">Drama, Action | 2020</p>
    </figcaption>
  </figure>

  <figure class="posters__box">
    <img src="./images/placeholder.jpg" alt="placeholder" class="posters__img" />
    <figcaption class="">
      <p class="posters__title">
        KISHIRYU SENTAI RYUSOULGER THE MOVIE: TIME SLIP! DINOSAUR PANIC!!
      </p>
      <p class="posters__details">Drama, Action | 2020</p>
    </figcaption>
  </figure>

  <figure class="posters__box">
    <img
      src="https://image.tmdb.org/t/p/w500/p6yUjhvNGQpFZilKwOKbxQ1eHlo.jpg"
      alt="placeholder"
      class="posters__img"
    />
    <figcaption>
      <p class="posters__title">Renfield</p>
      <p class="posters__details">Drama, Action | 2020</p>
    </figcaption>
  </figure>

  <!-- PONIŻEJ PRÓBKI DLA MY LIBRARY (DODANA JEST OCENA) -->
  <figure class="posters__box">
    <img src="./images/placeholder.jpg" alt="placeholder" class="posters__img" />
    <figcaption>
      <p class="posters__title">DUNGEONS & DRAGONS: HONOR AMONG THIEVES</p>
      <p class="posters__details">
        Drama, Action | 2020 <span class="posters__ranking"> 9.5</span>
      </p>
    </figcaption>
  </figure>

  <figure class="posters__box">
    <img src="./images/placeholder.jpg" alt="placeholder" class="posters__img" />
    <figcaption>
      <p class="posters__title">ONCE UPON A TIME... IN HOLLYWOOD</p>
      <p class="posters__details">Drama, Action | 2020 <span class="posters__ranking">7.5</span></p>
    </figcaption>
  </figure>

  <figure class="posters__box">
    <img
      src="https://image.tmdb.org/t/p/w500/A3BaYqHvIVUGa35uDLigd77RxO0.jpg"
      alt="placeholder"
      class="posters__img"
    />
    <figcaption>
      <p class="posters__title">THE EMPEROR IN AUGUST</p>
      <p class="posters__details">Drama, Action | 2020 <span class="posters__ranking">3.5</span></p>
    </figcaption>
  </figure>
</div>
